#octopus {
	margin: 150px;
	margin-left: 90px;
	position: fixed;
	z-index: -1;
}

#hat {
	position: relative;
	left: 350px;
	top: 75px;
	z-index: 0;
}

#glasses {
	position: relative;
	left: 545px;
	top: 142px;
	z-index: 1;
}